<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>tellus</title>
<!-- jquery -->
<script type="text/javascript" src="jquery\jquery.min.js"></script>
<script type="text/javascript" src="jquery.cookie/jquery.cookie.js"></script>
<!-- bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- angularjs -->
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/tellus.css">

</head>
<body ng-app="tellus" ng-controller="tellus">
	<div ng-include src="" id="include"></div>
	<div id="content">
		<ol class="breadcrumb">
			<li><a href="index.html">首页</a></li>
			<li class="active">联系我们</li>
		</ol>

		<div id="box">
			<h5 class="text-left">联系方式有:</h5>
			<p class="text-left">QQ:<u>110110110</u></p>
			<p class="text-left">微博:<u>@微博小秘书</u></p>
			<p class="text-left">电话:<u>0571-23123123</u></p>
			<p class="text-left">邮箱:<u>1231251@hotmot.mail</u></p>
			<form>
				<div class="form-group">
					<label for="liuyan">给我们留言</label>
					<textarea rows="3" id="liuyan" class="form-control" ng-model="messages" placeholder="请输入留言内容.."></textarea>
				</div>
				<div class="form-group">
					<label for="yanzhengma">验证码</label>
					<input type="text" class="form-control" id="yanzhengma" ng-model="yzm"><img src="#" alt="验证码">
				</div>
				<button type="submit" class="btn btn-default" ng-click="submit()">提交</button>
			</form>
		</div>
	</div>
	<div id="foot">
		<h5>@公司出品</h5>
		<span>友情链接</span><span>&nbsp;<a href="www.baidu.con" target="_blank">百度一下</a>&nbsp;·&nbsp;<a href="www.zhihu.com"  target="_blank">知乎</a></span>
	</div>
</body>
<script type="text/javascript">
	function encode(str){
	    var _arr = str.split(',');
	    return _arr;
	}//将字符串分成数组
	var newarr=$.cookie('user');
	console.log(newarr);
	if(newarr==null||newarr=="null"){
		$("#include").attr("src","'common.html'");
		console.log("未登录");
	}else{
		$("#include").attr("src","'loginSuccess.html'");
		console.log("登录");
	};//判断是否登录

	
	var tellus=angular.module("tellus",[]);
	tellus.controller('tellus',function($http,$scope){
		$scope.user=null;
		if($.cookie('user')!=null){
			$scope.newarr=encode($.cookie('user'));
			angular.forEach($scope.newarr,function(item,i){
				switch(i){
					case 0:$scope.user=item;break;
					case 1:$scope.password=item;break;
					case 2:$scope.admin=item;break;
				}
			})
			if($scope.admin==0){
				$scope.isAdmin=false;
			}else{
				$scope.isAdmin=true;
			}//判断是否为管理员
		}//判断登陆
		$scope.submit=function(){
			$scope.word=$scope.messages;
			$scope.yanzhengma="123";
			if($scope.yzm==$scope.yanzhengma){
				console.log($scope.user);
				if ($scope.user==null||$scope.user=="null") {
					alert("请先登录");
				}else{
					console.log($scope.word);
				}//反则出错 不知为何。。。
			}else{
				alert("请输入正确的验证码");
			}
		}
	})
</script>
</html>