<!DOCTYPE html>
<html>
<head>
	<title>AdminNews</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- jquery -->
	<script type="text/javascript" src="../jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.cookie/jquery.cookie.js"></script>
	<!-- bootstrap -->
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<!-- angularjs -->
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="adminNews" ng-controller="adminNews">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<a class="navbar-brand" href="#">新闻管理</a>
    </div>
    <form class="navbar-form navbar-left" role="search">
    	<div class="form-group">
    		<input type="text" class="form-control" placeholder="Search" ng-model="key">
    	</div>
    	<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true">搜索</button>
    </form>
    <div class="btn-group" role="group" style="margin-top:8px;">
    	<button type="button" class="btn btn-default" ng-click="editNews('add')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增新闻</button>
    	<button type="button" class="btn btn-default" ng-click="editNews('edit')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改新闻</button>
    	<button type="button" class="btn btn-default" ng-click="delete()"><span class="glyphicon glyphicon-remove" aria-hidden="true">批量删除新闻</button>
    	</div>
    </div>
  </div>
</nav>
<table class="table table-striped" style="text-align:center;">
	<tr>
		<td><input type="checkbox" ng-click="selectAll()" value="option1"></td>
		<td>id</td>
		<td>title</td>
		<td>details</td>
		<td>reporter</td>
		<td>date</td>
		<td>hot</td>
		<td>href</td>
		<td></td>
	</tr>
	<tr ng-repeat="new in news|filter:key" ng-click="checkbox($index,new)">
		<td><input type="checkbox" class="blankCheckbox" value="{{$index}}"></td>
		<td>{{new.id}}</td>
		<td ng-bind="isTooLong(new.title)"></td>
		<td ng-bind="isTooLong(new.details)"></td>
		<td>{{new.reporter.realname}}</td>
		<td>{{new.date}}</td>
		<td ng-if="new.hot==0">否</td>
		<td ng-if="new.hot==1">是</td>
		<td><a href=../{{new.href}} target="_blank">{{new.href}}</a></td>
		<td><a href="javascript:void(0)" ng-click="seemore(new)">详情</a>| <a href="#" onclick="deleteNews()">删除</a></td>
	</tr>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination" style="padding: 0px; margin: 0px;">
    <li id="previous" ng-click="previous()">
      <a href="javascript:void(0)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="page in pageList" ng-class="{active:isActivePage(page)}"><a href="javascript:void(0)" ng-click="selectPage(page)">{{page}}</a></li>
    <li id="next" ng-click="next()">
      <a href="javascript:void(0)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div class="modal fade" id="seemore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改/新增 新闻</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate>
        	<div class="form-group">
        	    <label class="col-sm-2 control-label">title</label>
        	    <div class="col-sm-10">
        	    	<input type="text" class="form-control add" ng-model="addnews.title" ng-if="!isEdit">
        	    	<input type="text" class="form-control" ng-model="neww.title" ng-if="isEdit">
        	    </div>
        	</div>
        	<div class="form-group">
        	    <label class="col-sm-2 control-label">details</label>
        	    <div class="col-sm-10">
        	    	<textarea class="form-control add" rows="3" ng-model="addnews.details" ng-if="!isEdit"></textarea>
        	    	<textarea class="form-control" rows="3" ng-model="neww.details" ng-if="isEdit"></textarea>
        	    </div>
        	</div>
        	<div class="form-group">
        	    <label class="col-sm-2 control-label">reporter</label>
        	    <div class="col-sm-10">
        	    	<input type="text" class="form-control add" ng-model="addnews.reporter" ng-if="!isEdit">
        	    	<input type="text" class="form-control" ng-model="neww.reporter.realname" ng-if="isEdit">
        	    </div>
        	</div>
        	<div class="form-group">
        	    <label class="col-sm-2 control-label">date</label>
        	    <div class="col-sm-10">
        	    	<input type="date" class="form-control add" ng-model="addnews.date" ng-if="!isEdit">
        	    	<input type="date" class="form-control" ng-model="newsdate" ng-if="isEdit">
        	    </div>
        	</div>
        	<!-- input.date有一些问题无法解决
        	<div class="form-group">
        	    <label class="col-sm-2 control-label">href</label>
        	    <div class="col-sm-10">
        	    	<input type="file" ng-model="addnews.href" ng-if="!isEdit">
        	    	<input type="file" ng-model="neww.href" ng-if="isEdit">
        	    </div>
        	</div> -->
        	<div class="form-group">
        	    <label class="col-sm-2 control-label">hot</label>
        	    <div class="col-sm-10">
        	      <div class="radio add" ng-if="!isEdit">
        	          <label>
        	            <input type="radio" ng-value=true ng-model="addnews.hot">是
        	          </label>
        	          <label>
        	          	<input type="radio" ng-value=false ng-model="addnews.hot">否
        	          </label>
        	      </div>
        	      <div class="radio" ng-if="isEdit">
        	          <label>
        	            <input type="radio" ng-value=true ng-model="neww.hot">是
        	          </label>
        	          <label>
        	          	<input type="radio" ng-value=false ng-model="neww.hot">否
        	          </label>
        	      </div>
        	    </div>
        	</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true">Close</button>
        <button type="button" class="btn btn-primary" ng-if="isEdit" ng-click="saveUser()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</button>
        <button type="button" class="btn btn-primary" ng-if="!isEdit" ng-click="addNews()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Add</button>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
	var adminNews=angular.module('adminNews',[]);
	adminNews.controller('adminNews',function($http,$scope){
		$http.post('../json/AllNews.json').then(function(result){
			$scope.pagenumber=6;
			$scope.length=result.data.number;
			$scope.pageList=[];
			$scope.pages=Math.ceil($scope.length/$scope.pagenumber);//一个页面显示6个
			$scope.data=result.data.news;
			$scope.selPage=1;
			$scope.news=$scope.data.slice(0,$scope.pagenumber);//一个页面显示6个
			for(var i =0;i<$scope.pages;i++){
				$scope.pageList.push(i+1);
			};
			$scope.isActivePage = function (page) {
				return $scope.selPage == page;
			};//将传入的page设为active
			$scope.selectPage = function (page) {
				$scope.selPage=page;
				$scope.isActivePage(page);
				$scope.updatePage();
			}//选择当前页面
			$scope.updatePage = function () {
				var startPage = $scope.pagenumber*($scope.selPage - 1);//起始为（当前页数-1）*页面显示个数
				var endPage = $scope.selPage*$scope.pagenumber;//终止为当前页数*页面显示个数
				$scope.news=$scope.data.slice(startPage,endPage);
			}//更新页面显示内容
			$scope.previous = function () {
				if($scope.selPage==1){
					return false;
				}else{
					$scope.selectPage($scope.selPage - 1);	
				}
			}//上一页
			$scope.next = function () {
				if($scope.selPage == $scope.pages){
					return false;
				}else{
					$scope.selectPage($scope.selPage + 1);
				}
			}//下一页
		})
		$scope.selected=[];//已选中的数据
		$scope.isEdit=false;//是否修改
		$scope.addnews=[];//添加用户
		$scope.selectAll=function(){//全选方法
			var $a=$(".blankCheckbox");
			if($(this).prop("checked")){//取消全选
				$(this).removeProp("checked");
				console.log("取消全选");
				var index=0;
				$a.each(function(index){
					if ($(this).prop("checked")) {//假如已经选中
						$(this).removeProp("checked")
					}
				})
			}else{//全选
				console.log("全选");
				$(this).prop("checked",true);
				var index=0;
				$a.each(function(index){
					if (!$(this).prop("checked")) {//假如未被选中
						$(this).prop("checked",true)
					}
				})
			}
		}
		$scope.checkbox=function(index,news){//选择方法
			var a=".blankCheckbox[value="+index+"]";
			if($(a).prop("checked")){//取消选中
				$(a).removeProp("checked");
				var a=$scope.selected.indexOf(news);
				$scope.selected.splice(a,1);
			}else{//选中
				$(a).prop("checked",true);
				$scope.selected.push(news);
			}
		}
		$scope.editNews=function(item){
			if(item=="add"){
				$("#seemore").modal('show');
			}else{
				var length=$scope.selected.length;
				console.log(length);
				if(length>1||length==0){
					console.log("修改失败,一次只能修改一篇新闻");
				}else{
					console.log("您要修改的新闻id为"+$scope.selected[0].id);
					$scope.neww=$scope.selected[0];
					$scope.isEdit=true;
					$scope.newsdate=$scope.strToDate($scope.neww.date);
					$("#seemore").modal('show');
				}
			}
		}
		$scope.strToDate=function(str){//字符型转换成日期型
			str=str.replace(/-/g,"/");
			var date=new Date(str);
			return date;
		}
		$scope.addNews=function(){
			if($scope.addnews.title==null){
				alert("请填写文章标题");
				$(".add:eq(0)").focus();
			}else if($scope.addnews.details==null){
				alert("请填写文章描述");
				$(".add:eq(1)").focus();
			}else if($scope.addnews.reporter==null){
				alert("请填写文章作者");
				$(".add:eq(2)").focus();
			}else if($scope.addnews.date==null){
				alert("请填写文章日期");
				$(".add:eq(3)").focus();
			}else if($scope.addnews.hot==null){
				alert("请填写文章热度");
				$(".add:eq(4)").focus();
			}else if(confirm("确认保存吗")){
				alert("保存成功");
				console.log($scope.addnews);
				location.reload();
			}
		}
		$scope.delete=function(){//批量删除
			var length=$scope.selected.length;
			if(length==0){
				console.log("请选择新闻");
			}else{
				$.each($scope.selected,function(i,item){
					console.log(i+"==="+item.id);
				});
				if(confirm("您确定删除以下"+length+"新闻?")){
					alert("删除成功");
					location.reload();
				}else{
					alert("删除失败");
				}
			}
		}
		$scope.seemore=function(news){
			window.parent.open("../news1.html"+"?title="+news.title+"&details="+news.details+"&href="+news.href);
		}
		
		$scope.saveUser=function (){//更改新闻方法
			var r=confirm("确定保存修改吗");
			if(r==true){
				$scope.isEdit=false;
				location.reload();
				alert("保存成功");
			}
		}
		$scope.isTooLong=function(Str){//对字数过长的字段截取函数
			if(Str.length>10){
				return Str.substr(0,10)+"...";
			}else{
				return Str;
			}
		}
		$('#seemore').on('hidden.bs.modal', function (e) {//模块框关闭时的发生事件
			$scope.addnews=[];
			$scope.isEdit=false;
		})
	})
	function deleteNews(){//删除一条新闻
		var r=confirm("确定删除吗?");
		if(r==true){
			alert("删除成功");
			location.reload();
		}else{
			alert("取消删除");
		}
	}
</script>
</html>