<!DOCTYPE html>
<html>
<head>
	<title>backindex</title>
	<script type="text/javascript" src="../jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.cookie/jquery.cookie.js"></script>
	<!-- bootstrap -->
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<!-- angularjs -->
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/backindex.css">
</head>
<body>
<ul id="ulList">
	<li>
		<div class="panel panel-primary">
			<div class="panel-heading">用户管理</div>
			<div class="panel-body">
				<p>总人数：44</p>
				<p>实时在线人数：11</p>
				<p>昨日增长人数：12</p>
			</div>
		</div>
	</li>
	<li>
		<div class="panel panel-primary">
			<div class="panel-heading">新闻管理</div>
			<div class="panel-body">
				<p>总新闻数：444</p>
				<p>最近新增新闻：<a href="#">为何我如此帅气</a></p>
				<p>昨日发布新闻数：2</p>
			</div>
		</div>
	</li>
	<li>
		<div class="panel panel-primary">
			<div class="panel-heading">产品管理</div>
			<div class="panel-body">
				<p>产品总数：423</p>
				<p>昨日发布产品数：123</p>
			</div>
		</div>
	</li>
	<li>
		<div class="panel panel-primary">
			<div class="panel-heading">单页面管理</div>
			<div class="panel-body">
				<p>页面管理内容</p>
			</div>
		</div>
	</li>
</ul>

</body>
</html>