body {
  font-family: "微软雅黑";
  background-color: #f7f8fa;
}
nav.navbar {
  background-color: #fff;
}
.container-fluid .navbar-brand {
  padding: 5px 5px;
}
.container-fluid a.navbar-link {
  line-height: 50px;
  margin-right: 50px;
}
#collapisible {
  float: left;
  height: 500px;
  width: 300px;
  margin-left: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.embed-responsive-item {
  background-color: #fff;
  margin-left: 15px;
  width: 900px !important;
  height: 500px !important;
}
