body {
  background-color: #f7f8fa;
  font-family: "微软雅黑";
  padding-right: 0 !important;
}
#login {
  text-align: center;
}
#login .form-control {
  width: 85%;
  display: inline-block;
  float: left;
}
#login span.glyphicon {
  float: left;
  height: 34px;
  line-height: 34px;
  padding-left: 10px;
  color: red;
  display: none;
}
#login .checkbox {
  float: left;
}
#login button[type='submit'] {
  float: left;
}
#login .noName {
  float: left;
}
#login .modal-content {
  padding: 0px;
  margin-top: 80px;
}
#login .modal-footer {
  text-align: left;
}
#layout-north {
  background: #fff;
  height: 55px;
  max-width: 1263px;
  width: 100%;
  border-bottom: 1px solid #0767c8;
  position: fixed;
  z-index: 99;
}
#layout-north #content {
  max-width: 960px;
  height: 55px;
  margin: 0 auto;
}
#layout-north #content button {
  float: right;
}
#layout-north #content .btn-group {
  float: right;
  top: 8px;
}
#layout-north img {
  margin-top: -1px;
  line-height: 55px;
  height: 100%;
  width: 55px;
  float: left;
}
#layout-north #navigation {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 55px;
  margin-left: 15px;
}
#layout-north #navigation a {
  height: 55px;
  margin-top: -1px;
}
#layout-north #navigation li.active {
  color: #23527c;
  background-color: #eee;
}
#foot {
  width: 100%;
  max-width: 1260px;
  text-align: center;
  background-color: pink;
  height: 100px;
  line-height: 60px;
}
