body {
  background-color: #f7f8fa;
  font-family: "微软雅黑";
}
#carousel {
  width: 100%;
  max-width: 1263px;
  height: 500px;
  top: 65px;
  /* 图片背景应为白色 */
  background-color: #837D7D;
}
#carousel img {
  width: 100%;
  height: 500px;
}
#Recent {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 100px;
}
#Recent #Product img {
  height: 55px;
  width: 55px;
}
#Recent #Product b {
  font-size: 18px;
  margin-left: 5px;
}
#Recent #Product label {
  font-weight: normal;
  font-size: 12px;
}
#Recent #Product span {
  float: right;
  line-height: 55px;
}
